body{
	background: gray;
	margin: 0;
}
div {
    box-sizing: border-box;
}
header {
	background: white;
	padding: 10px;
}
header h1{
	margin: 0;
}
div.post {
	background: white;
    margin-top: 10px;
}
div.post img {
	width: 100%;
}

header h1{
	margin: 0;
}

div.post h2, div.post p{
	padding: 10px;
    margin: 0;
}
.post-header div:first-child  {
	display:inline-block;
	width: 80%;
}
.post-header div:last-child {
	display: inline-block;
	width: 20%;
    color:gray;
    padding: 10px;
    text-align: right;
    float: right;
    padding-top: 15px;

    }
div.container {
	width: 500px;
	margin: auto;
}

